
@media (max-width: 960px) {
  .navWrap-nav{
    padding:0px 20px;
    }
  .infoWrap-wrap {
    padding-left:20px;
    padding-right:20px;
    }
  .giveInfo-wrap{
      width: 48%;
    }
    .giveInfo {
      width: 100%;
      background-size: contain;
      
    }
    .side-wrap{
      flex-wrap: wrap;
    }
    .leftInfoSide{
      width: 100%;
      text-align: center;
    }
    .rightInfo{
      width: 100%;
      margin: 0px 50px;
      margin-top: 100px;
    }
    .introInfo{
      width: 100%;
      margin: 50px 0px 0px 0px;
      padding: 0px 50px;

    }
    .indexLink{
      padding: 0px;
      width: 50%;
      margin: 0px 50px;
    }
    .formWrap{
      width: 90%;
    }
  }

@media (max-width: 768px) {
    .mobile-nav{
      display:block;
    }
    .nav{
      display:none;
    }
    .navWrap-nav{
      margin: 15px auto;
    }
    .homeFlow {
      padding: 80px 0px 0px 0px;
    }
    .concept-wrap{
      flex-direction: column;
    }
    .concept-info {
      width: 80%;
      margin-top: 50px;
    }
    .order-info {
      flex-direction: column;
      padding: 10px;
    }
    .order-content{
      width: 100%;
    }
    
    .typing-1 {
      bottom: 2.5vw;
      left: 19vw;
    }
    .order-content.info{
      padding: 80px 0px;
    }
    .order-content.info p::before{
      display: none;
    }
    .order-content.info img{
      display: block;
      width: 60vw;
      margin: auto;
      margin-bottom: 30px;
      transform: rotate(5deg);
    }
    .giveListWrap {
      width: 95%;
    }
    

    .leftSide{
      display: none;
    }
    .rightSide{
      width: 100%;
    }
    .myOrderList,.itemWrap{
      display: none;
    }
    tbody{
      display: block;
    }
    tr {
      border-top: 1px solid #999;
      border-left: 1px solid #999;
      display: block;
      margin-bottom: 20px;
    }
    
    td {
      border-right: 1px solid #999;
      border-bottom: 1px solid #999;
      display: flex;
      padding: 10px;
      justify-content: space-between;
      align-items: center;
    }
    td .oid{
      color:#fff;
      display: block;
      padding: 3px;
      background: #9baaa4;
      cursor: pointer;
      }
 
    td img{
      max-width: 100%; 
    } 
    .heartWrap,.givesshelvesWrap{
      display: none;
    }
    .accountWrap {
      width: 100%;
    }
    .accountBtn{
      width: 40%;
    }
    .accountLink {
      width: 20%;
    }
    .logInfo,.signupInfo {
      width: 50%
    }
}

@media (max-width: 576px) {
  .navWrap-nav{
    margin: 10px auto;
    padding: 0px 10px;
  }
  .logo img {
    width: 50px;
  }
  .mobile-nav i{
    font-size: 20px;
  }
  .homeFlow {
    padding: 60px 0px 0px 0px;
  }
  .ham-menu{
    top:58px;
  }
  .concept-img{
    text-align: center;
  }
  .concept-wrap img{
    width: 70%;
  }
  .info-title {
    font-size: 20px !important;
  }
  .concept-info {
    margin-top: 30px;
  }
  .concept-info p{
    font-size: 16px;
  }
  .concept-wrap {
    margin: 60px auto 50px;
  }
  .other-info{
    padding: 30px;
  }
  .typing-1 {
    bottom: 2vw;
    font-size: 15px;
  }
  .footer {
    padding: 100px 0px;
  }
  .footer-author{
  font-size: 12px;
  }
  .giveInfo {
    height: 180px;
  }
  .classification{
    flex-wrap: wrap;
    margin: 50px auto;
    width: 100%;
  }
  .classification li{
    width: 50%;
    width: 33%;
    text-align: center;
    margin-top: 15px;
  }
  .heart {
    font-size: 20px;
  }
  .heart i::after {
    width: 30px;
    height: 30px;
    left: -20px; 
    top: -7px;
  }
  .heartImg li {
    width: 25%;
  }
  .giveDetail{
    width: 100%;
  }
  .giveDetail-info{
    width: 40%;
    text-align: right;
  }
  .addtoBag{
    margin:0px;
  }
  .indexLink,.rightInfo,.introInfo {
    margin: 0px;
    width: 100%;
  }
  .rightInfo,.introInfo {
    margin-top: 50px;
  }
  .formWrap{
    width: 100%;
    padding: 10px;
    flex-direction: column;
  }
  .getGivesLine{
    width: 95%;
    height: 2px;
    margin: 30px auto;
  }
  .leftForm, .rightForm{
    width: 100%;
  }
  .accountLink {
    width: 50%;
  }
  .logInfo,.signupInfo {
    width: 70%;
  }
  .fgtPSD{
    width: 50%;
  }
  .fgtPSD span {
    justify-content: center;
  }
}

@media (max-width: 430px) {
  .heartImg li {
    width: 50%;
  }
}
