@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap");

* {
  /* outline: 1px dotted red; */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* ------------------------------giveList-------------------------- */
html,
body {
  font-family: "Noto Sans TC";
}

.wrap {
  width: 100vw;
  height: 100vh;
  width: 100%;
  /* display: flex;
  flex-direction: column; */
}

.navWrap {
  width: 100%;
  position: fixed;
  z-index: 2;
  background-color: #fff;
}
.navWrap-nav {
  max-width: 960px;
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
  align-items: center;
}

.logo img {
  width: 60px;
}

.nav {
  display: flex;
  align-items: center;
  color: #4c4c4c;
  cursor: pointer;
}

.nav li a:hover {
  color:#9baaa4 !important; 
}

.nav li {
  letter-spacing: 4px;
  margin: 0px 10px;
  font-size: 18px;
}

.nav i {
  font-size: 24px;
}

.fa-heart {
  position: relative;
}
.mobile-nav{
  display:none;

}
.mobile-nav-wrap{
  display: flex;
  align-items: center;
}
.mobile-nav-wrap p a{
  color: #4c4c4c;
  transition: .3s ease-in-out;
}
.mobile-nav-wrap p a:hover,.mobile-nav-wrap i:hover{
  color:#9baaa4 
}
.mobile-nav-wrap i{
  color: #4c4c4c;
  cursor: pointer;
  font-size: 24px;
  margin-left: 10px;
  transition: .3s ease-in-out;
}
.ham-menu{
  position: fixed;
  height: 100vh;
  width: 110vw;
  right: -110%;
  top: 75px;
  background: #111;
  text-align: center;
  padding-top: 80px;
  transition: all 0.3s ease;
}
.ham-menu.active{
  display: block;
  right: 0;
}
.ham-menu li{
  color: #fff;
  cursor: pointer;
  margin: 30px 0px;
  font-size: 18px;
}
.ham-menu li a{
  color: #fff !important;
}
.noneHeart {
  display: none;
}

.heartAmount {
  position: absolute;
  font-size: 12px;
  top: 6px;
  right: 8.8px;
}

.coverflow img {
  width: 100%;
  background-color: #dcdcdcdc;
  display: flex;
  position: relative;
  /* transition: 6s ease; */
}

.coverflow h2 {
  font-size: 50px;
  position: absolute;
  right: 100px;
  bottom: 150px;
}

.coverflow h3 {
  font-size: 40px;
  position: absolute;
  right: 100px;
  bottom: 90px;
  color: #4c4c4c;
  animation-delay: 0.2s;
}

.bLine {
  border: 2px solid #4c4c4c;
  border-top: none;
  border-left: none;
  border-right: none;
  position: absolute;
  right: 100px;
  bottom: 80px;
  width: 110px;
  animation-delay: 0.2s;
}

.classification {
  display: flex;
  width: 80%;
  margin: 50px auto;
  justify-content: space-around;
  font-family: "MaisonNeue-Medium", Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

.amount-wrap {
  position: relative;
}
.classification li {
  cursor: pointer;
}
.classification p {
  font-family: "MaisonNeue-Medium", Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 2.5;
  letter-spacing: 1.2px;
  position: relative;
}

.amount {
  font-size: 12px;
  position: absolute;
  top: -10px;
  color: #4c4c4c;
}

.giveListWrap {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 140px;
}
.giveListWrap li{
  border-radius: 10px;
  transition: 0.5s ease;
  }
.giveListWrap li:hover{
  box-shadow: rgb(100 100 100 / 32%) 0px 3px 22px 1px;
  }
  .giveListWrap li:hover .giveInfo{
    background-size: 110%;
    }
.giveInfo-wrap{
  /* width: 30%; */
  height: 100%;
  margin: 20px 0px;
  position: relative;
}
.giveInfo-wrap p{
  text-align: center;
  margin: 10px 0px;
}
.giveInfo {
  width: 250px;
  height: 250px;
  background-color: #f5f5f5;
  background-image: url("../img/products/bottle.jpg");
  background-size: 100%;
  background-position: center;
  transition: 0.5s ease;
  cursor: pointer;
  position: relative;
  z-index: 0;
  background-repeat:no-repeat;
}

.heart img {
  width: 30px;
}

.heart {
  position: absolute;
  transition: 0.5s ease;
  color: #a09d9d;
  font-size: 25px;
  right: 15px;
  top: 15px;
  pointer-events: all;
  
}

.heart i{
  position: relative;
  z-index: 1;
  transition: .3 ease-in-out;
  cursor: pointer;

}
.fas.fa-heart{
  color: #9baaa4;
}
.heart i:hover{
  color: #9baaa4;
}

.heart i::after{
  position: absolute;
  content: '';
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  left: -28px;
  transform: translateX(50%);
  top: -8px;
  z-index: -1;
}

.pageWrap {
  display: flex;
  width: 89%;
  justify-content: flex-end;
  margin-bottom: 30px;
}

.page {
  margin: 5px;
  font-size: 20px;
  cursor: pointer;
}


/* ------------------------------footer-------------------------- */

.footer {
  padding: 200px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.footer i,.top a{
  color:#4c4c4c;
}
.footer i:hover {
  color:#9baaa4 !important; 
}
.top a:hover{
  color:#9baaa4 !important; 
}
.footer img{
  position: absolute;
  bottom: 0px;
}
.bottom01{
  left: 0px;
  max-width: 280px;
  width: 25vw;
}
.bottom02{
  right: 0px;
  max-width: 280px;
  width: 25vw;
}

a {
  text-decoration: none;
  color: #000;
}

.community {
  display: flex;
  margin: 30px 0px;
}

.community i {
  font-size: 24px;
  margin: 10px;
}
.footer-author{
  position: absolute;
  bottom: 10px;
}


/* ------------------------------giveInfo-------------------------- */
.product-info-wrap{
  padding: 100px 10px;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
}
.infoWrap-wrap {
  padding: 100px 10px;
  background-color: #f5f5f5;
  
}
.infoWrap-box{
  display: flex;
  max-width: 960px;
  margin: auto;
  margin-top: 50px;
}
.side-wrap{
  display: flex;
  align-items: center;
}
.leftInfo {
  display: flex;
  flex-direction: column;
  margin-left: 180px;
}

.leftInfoSide {
  width: 50%;
}

.indexLink {
  display: flex;
  width: 30%;
  justify-content: space-between;
  margin: 20px 0px;
  padding-left: 110px;
}

.leftInfoSide img {
  width: 80%;
  
}

.indexLink h3 {
  font-style: italic;
  font-size: 18px;
  color: #4c4c4c;
  letter-spacing: 1.5px;
}

.infoName {
  color: #000;
  font-style: italic;
  font-size: 18px;
  letter-spacing: 1.5px;
}

.rightInfo {
  display: flex;
  margin: 0px 50px;
  flex-direction: column;
  width: 40%;
  position: relative;
}

.givesName {
  font-size: 40px;
}

.givesNo {
  margin-top: 16px;
  color: #4c4c4c;
  font-size: 20px;
}

.addHeart {
  position: absolute;
  font-size: 40px;
  top: 40px;
  right: 0px;
}

.divider {
  border: 2px solid #4c4c4c;
  border-top: none;
  border-left: none;
  border-right: none;
  margin: 20px 0px;
}

.rightInfo p {
  color: #4c4c4c;
  font-size: 18px;
  letter-spacing: 1px;
  text-align: justify;
  padding: 0px 10px;
  line-height: 1.5;
}

.shelvesTime {
  display: flex;
  justify-content: flex-end;
  color: #4c4c4c;
}

.addBtn {
  border: none;
  width: 200px;
  height: 40px;
  text-align: center;
  letter-spacing: 1.2px;
  font-size: 18px;
  color: #fff;
  background-color: #4c4c4c;
  margin-top: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.toFace {
  margin-top: 10px;
  width: 20%;
  color: #4c4c4c;
  display: flex;
  justify-content: space-between;
  letter-spacing: 1.2px;
}
.toFace span{
  white-space: nowrap;
}

.introInfo {
  align-self: center;
  margin: 40px auto;
  width: 50%;
}

.introInfo h3 {
  font-size: 50px;
  text-align: center;
  letter-spacing: 1.2;
}

.introInfo p {
  font-size: 24px;
  padding: 10px;
  text-align: justify;
  line-height: 1.2;
}

/* ------------------------------MemberCenter-------------------------- */

.leftSide {
  width: 30%;
  padding-bottom: 200px;
}

.memberList {
  width: 70%;
  position: relative;
  /* overflow: hidden; */
  cursor: pointer;
  
}

.memberInfoList > li:hover {
  color: #d7e5de;
}

.memberList > li:hover {
  color: #000;
}

.memberList > li.active:hover {
  color: #fff;
  cursor: none;
}

.mli {
  border-top: 1px solid #a09d9d;
  border-left: 1px solid #a09d9d;
  border-right: 1px solid #a09d9d;
  text-align: center;
  padding: 12px 0px;
  font-size: 20px;
  font-weight: 500;
  color: #4c4c4c;
}

.memberCenter {
  color: #ffffff;
  background-color: #4c4c4c;
}

.memberInfoList {
  display: none;
  flex-direction: column;
  position: absolute;
  border-top: none;
  border-left: none;
  border: 1px solid #a09d9d;
  top: 44px;
  left: 100%;
  width: 100%;
}

.memberInfo:hover .memberInfoList {
  display: flex;
}

.memberModify {
  border-bottom: 1px solid #a09d9d;
}

.memberModify,
.memberModifyPassword {
  border-top: none;
  border-left: none;
  background-color: #f5f5f5;
  padding: 12px 10px;
  font-size: 20px;
  font-weight: 500;
  color: #4c4c4c;
}

.memberEachOrder {
  display: none;
  flex-direction: column;
  position: absolute;
  border-top: none;
  border-left: none;
  border: 1px solid #a09d9d;
  background-color: #f5f5f5;
  top: 90px;
  left: 100%;
  width: 100%;
}

.myGivesOrder {
  border-bottom: 1px solid #a09d9d;
}

.myGivesOrder,
.myGetOrder {
  border-top: none;
  border-left: none;
  padding: 12px 10px;
  font-size: 20px;
  font-weight: 500;
  color: #4c4c4c;
}

.orderList:hover .memberEachOrder {
  display: flex;
}

.memberEachOrder > li:hover {
  color: #000;
}

.logOut {
  border-bottom: 1px solid #a09d9d;
}

.rightSide {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.rightSide h2 {
  font-size: 30px;
}

.rightSide h3 {
  font-size: 20px;
  margin: 10px 0px;
}

.heartImg {
  display: flex;
  flex-wrap: wrap;
}
.heartImg li{
  width: 20%;
}

.heartImg img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin: 10px;
  cursor: pointer;
}

.orderItem h3 {
  font-size: 18px;
  padding-bottom: 15px;
}

.itemWrap {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.orderItemLI {
  margin: 25px 0px;
  color: #4c4c4c;
}

.myOrder {
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
}

.myOrder li {
  margin: 5px 0px;
  color: #a09d9d;
}

.listLine {
  border: 1px solid #4c4c4c;
  border-top: none;
  border-left: none;
  border-right: none;
  margin: 2px 0px;
}

.giveNo button {
  border: none;
  background-color: #4c4c4c;
  color: #fff;
}

.centerBtns {
  padding: 4px 10px;
  letter-spacing: 1.2px;
  border-radius: 4px;
  cursor: pointer;
}

.myOrderList {
  display: flex;
  justify-content: space-between;
}
tbody{
  display: none;
}
.myOrder span {
  font-size: 18px;
}

.myOrder li {
  margin-top: 15px;
}

/* ------------------------------MemberModify/MemberModifyPassword-------------------------- */

.accountWrap {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.accountInfo {
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;
  align-items: center;
}

.accountInfo span {
  font-size: 20px;
  color: #4c4c4c;
}

.accountInfo input {
  border: none;
  width: 52%;
  border: 1px solid #4c4c4c;
  border-radius: 4px;
  font-size: 18px;
  padding: 6px;
}

.accountBtn {
  background-color: #4c4c4c;
  width: 30%;
  align-self: flex-end;
  color: #fff;
  margin: 20px 0px;
  border-radius: 4px;
  letter-spacing: 1.5px;
  padding: 8px 15px;
  font-size: 14px;
  cursor: pointer;
  white-space: nowrap;
}

/* ------------------------------LogIn-------------------------- */

.logWrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding-top: 100px;
}

.accountLink {
  display: flex;
  widows: 50%;
}

.accountLink span {
  letter-spacing: 1.2px;
}

.accountLink {
  display: flex;
  width: 10%;
  justify-content: space-between;
  margin: 25px 0px;
  font-style: italic;
  letter-spacing: 2.5px;
  font-size: 18px;
}

.accountLink h4 {
  color: #4c4c4c;
}

.accountLink span {
  color: #000;
}

.logWrap h2 {
  font-size: 50px;
  margin-bottom: 20px;
}

.accountLine {
  border-left: none;
  border-right: none;
  border-top: none;
  border: 2px solid #4c4c4c;
  width: 60px;
}

.logWrap h3 {
  font-size: 30px;
  margin-top: 50px;
}

.logInfo {
  margin-top: 60px;
  width: 30%;
}

.logInfo h4 {
  margin: 15px 0px;
}

.logInfo input {
  width: 100%;
  border: 1px solid #4c4c4c;
  border-radius: 3px;
  height: 40px;
  padding-left: 10px;
  font-size: 18px;
  margin-bottom: 20px;
}

.fgtPSD {
  width: 30%;
  margin-bottom: 20px;
  cursor: pointer;
}

.fgtPSD span {
  display: flex;
  justify-content: flex-end;
}

.sendBtn {
  width: 30%;
  background-color: #4c4c4c;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  line-height: 1.2;
  padding: 10px;
  cursor: pointer;
}

.logBrWrap {
  display: flex;
  align-items: center;
  margin: 30px 0px;
}

.logBr {
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 0.3px solid #4c4c4c;
  width: 180px;
  margin: 0px 10px;
}

.logWrap h5 {
  text-decoration: underline;
  cursor: pointer;
}

/* ------------------------------Siginup-------------------------- */

.signupBtn {
  width: 30%;
  background-color: #4c4c4c;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  line-height: 1.2;
  padding: 10px;
  margin: 30px 0px;
  cursor: pointer;
}

.signupInfo {
  margin-top: 60px;
  width: 30%;
}

.signupInfo h4 {
  margin: 15px 0px;
}

.signupInfo input {
  width: 100%;
  border: 1px solid #4c4c4c;
  border-radius: 3px;
  height: 40px;
  padding-left: 10px;
  font-size: 18px;
}

/* ------------------------------WishList-------------------------- */

.heartWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #a09d9d;
  margin-bottom: 15px;
  padding: 18px 0px;
}

.heartWrap img {
  max-width: 100px;
  width: 100%;
  height: auto;
}

.wishImgName {
  display: flex;
  width: 70%;
  align-items: center;
}

.wishlistBtns {
  display: flex;
  align-items: center;
}
.wishlistBtns h5{
  white-space: nowrap;
}

.addtoBag {
  background-color: #4c4c4c;
  border-radius: 4px;
  color: #fff;
  letter-spacing: 1.2px;
  padding: 7px 10px;
  cursor: pointer;
  margin: 0px 15px;
}

.fa-times {
  font-size: 20px;
}

/* ------------------------------GetOrderDetail/GiveOrderDetail-------------------------- */
.giveWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 0px;
}

.giveWrap img {
  width: 200px;
}

.giveLine {
  border: 1px solid #a09d9d;
  width: 40%;
}

.giveDetail {
  width: 80%;
  display: flex;
  flex-direction: column;
  font-size: 18px;
}
.giveDetail-info{
  line-height: 1.2;
}
.giveDetail-tbody{
  display: block;
}
.giveDetail-tbody tr {
  border-top: 1px solid #999;
  border-left: 1px solid #999;
  display: block;
  margin-bottom: 20px;
}

.giveDetail-tbody td {
  border-right: 1px solid #999;
  border-bottom: 1px solid #999;
  display: flex;
  padding: 10px;
  justify-content: space-between;
}
.checkGiveOrderBtn {
  background-color: #4c4c4c;
  border-radius: 4px;
  color: #fff;
  letter-spacing: 1.2px;
  padding: 8px 12px;
  margin: 15px 0px;
  font-size: 14px;
  cursor: pointer;
}

.getngive {
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;
  width: 100%;
}

.storySpan {
  width: 30%;
  text-align: justify;
}

.getBtns button {
  background-color: #4c4c4c;
  color: #fff;
  margin: 0px 10px;
  white-space: nowrap;
}

.getBtns {
  width: 100%;
  display: flex;
  justify-content: center;
  align-self: center;

  cursor: pointer;
}

.noRequestBtn,
.checkGetOrderBtn {
  background-color: #4c4c4c;
  border-radius: 4px;
  color: #fff;
  letter-spacing: 1.2px;
  padding: 8px 12px;
  cursor: pointer;
}

.giveBtns {
  width: 35%;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.cancelBtn,
.getBtn,
.doneBtn {
  background-color: #4c4c4c;
  border-radius: 4px;
  color: #fff;
  letter-spacing: 1.2px;
  padding: 5px 8px;
  cursor: pointer;
  margin-left: 2px;
}

/* ------------------------------GivesShelve/GivesShelveForm-------------------------- */

.updateWrap {
  width: 100%;
  text-align: end;
}

.updateBtn {
  background-color: #4c4c4c;
  border-radius: 4px;
  color: #fff;
  padding: 8px 16px;
  margin: 10px 0px;
  letter-spacing: 1.5px;
  font-size: 14px;
  cursor: pointer;
  white-space: nowrap;
}

.givesshelvesFormWrap {
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;
  align-items: baseline;
  padding: 18px 0px;
  border-bottom: 1px solid #a09d9d;
  align-items: center;
}

.givesshelvesFormWrap textarea {
  width: 60%;
  font-size: 14px;
}

.getngive input {
  width: 60%;
  border: 1px solid #4c4c4c;
  border-radius: 3px;
  height: 30px;
  padding-left: 10px;
  font-size: 18px;
}

.givesshelvesFormWrap input {
  width: 60%;
  border: 1px solid #4c4c4c;
  border-radius: 3px;
  height: 30px;
  padding-left: 10px;
  font-size: 14px;
}

.givesshelvesFormWrap .fileUpload {
  width: 18%;
  border: none;
}

.classSelect {
  border: 1px solid #a09d9d;
}

.upBtn {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15px;
  cursor: pointer;
}

.shelvesBtn {
  background-color: #4c4c4c;
  color: #fff;
  width: 30%;
  border-radius: 4px;
  letter-spacing: 1.2px;
  padding: 5px 8px;
  font-size: 14px;
  cursor: pointer;
}

.givesshelvesBtns {
  display: flex;
  margin-right: 15px;
  white-space: nowrap;
}

.pageWrapGivesshelves {
  display: flex;
  align-self: flex-end;
}

.givesDetailBtn {
  background-color: #4c4c4c;
  border-radius: 4px;
  color: #fff;
  letter-spacing: 1.2px;
  padding: 8px 10px;
  font-size: 14px;
  cursor: pointer;
}

.editBtn {
  background-color: #4c4c4c;
  color: #fff;
  border-radius: 4px;
  letter-spacing: 1.2px;
  padding: 5px 8px;
  margin-left: 8px;
  cursor: pointer;
}

.givesshelvesWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #a09d9d;
  margin-bottom: 15px;
  padding: 18px 0px;
}

.givesshelvesWrap img {
  max-width: 100px;
  width: 100%;
  height: auto;
}

.givesshelvesWrap .fa-times {
  cursor: pointer;
}

.imgName {
  display: flex;
  width: 80%;
  align-items: center;
}

.givesshelvestName,
.heartName {
  font-size: 18px;
  padding-left: 60px;
}

/* ------------------------------GivesDetail-------------------------- */

.backgivesBtn {
  background-color: #4c4c4c;
  color: #fff;
  border-radius: 4px;
  letter-spacing: 1.2px;
  padding: 5px 8px;
  margin: 10px 0px;
  font-size: 14px;
  cursor: pointer;
}

/* ------------------------------CheckForm-------------------------- */

.formWrap {
  display: flex;
  width: 60%;
  margin-top: 100px;
  font-size: 20px;
}

.leftForm,
.rightForm {
  width: 50%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

.givesNo {
  display: flex;
  justify-content: space-between;
}

.getGivesLine {
  border-top: none;
  border-left: none;
  border-right: none;
  height: 250px;
  width: 2px;
  background-color: #000;
  margin: 0px 30px;
}

.givesNo input {
  border: 1px solid #a09d9d;
  width: 40%;
  border-radius: 4px;
  padding: 8px;
  font-size: 14px;
}

textarea {
  border: 1px solid #a09d9d;
  border-radius: 4px;
  padding: 8px;
}

.formBtn {
  border-radius: 4px;
  background-color: #4c4c4c;
  color: #fff;
  padding: 6px 10px;
  width: 40%;
  margin: 10px 0px;
  letter-spacing: 1.5px;
  align-self: flex-end;
  cursor: pointer;
}

/* ------------------------------HOME-------------------------- */

.homeFlow {
  position: relative;
  padding: 90px 0px 0px 0px;
}

.slideLine {
  display: flex;
  position: absolute;
  top: 50%;
  align-items: center;
  color: #a09d9d;
}

.slideLeft {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #a09d9d;
  width: 100px;
  display: flex;
}

.slideRight {
  right: 100%;
  right: 0%;
}

.slideBox {
  display: flex;
  width: 50%;
  justify-content: center;
  margin-top: 10px;
  margin-left: 25%;
}
.slick-dots li button::before {
  content: "" !important;
  width: 10px !important;
  height: 10px !important;
  border: 2px solid #9baaa4;
  margin: 5px;
  opacity: 1;
  border-color: #9baaa4;
}
.slick-dots li.slick-active button::before {
  opacity: 1;
  background-color: #9baaa4;
}

.concept-wrap{
  margin: 100px auto 50px;
  position: relative;
  margin-bottom: 150px;
  max-width: 960px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.concept-info{
  width: 50%;
  margin-top: 150px;
}
.concept-info p{
  font-size: 18px;
  letter-spacing: 1.2px;
  line-height: 1.2;
  margin: 8px 0px;
}
.info-title{
  font-size: 22px !important;
  position: relative;
}
.info-title::before{
  content: '';
  position: absolute;
  width: 5px;
  height: 20px;
  background-color: #9baaa4;
  left: -10px;
  top: 5px;
}
.order-info-wrap{
  text-align: center;
}
.order-info-title{
  font-size: 35px;
}
.order-info{
  width: 100%;
  padding: 50px;
  background-color: #f5f5f5;
  display: flex;
  margin-top: 100px;
}
.order-info img{
  max-width: 100%;
}
.order-content{
  width: 50%;
}
.order-content.img{
  position: relative;
}
.typing-1{
  position: absolute;
  display: block;
  bottom: 1.2vw;
  left: 10vw;
  font-size: 18px;
}
.order-content.info{
  margin: auto;
  font-size: 18px;
  position: relative;
}
.order-content.info p{
  line-height: 1.3;
  letter-spacing: 1.2px;
  position: relative;
  padding: 0px 60px;
}
.order-content.info p::before{
  content: '';
  background-image: url('../img/border-01.png');
  position: absolute;
  background-size: cover;
  background-position: center;
  width: 30vw;
  height: 15vw;
  background-repeat: no-repeat;
  right: 0px;
  bottom: 7vw;
  transform: rotate(5deg);
}
.order-content.info img{
  display: none;
}



