@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap");

* {
  /* outline: 1px dotted red; */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* ------------------------------giveList-------------------------- */
html,
body {
  font-family: "Noto Sans TC";
}

.wrap {
  width: 100vw;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.navWrap {
  width: 75%;
  display: flex;
  justify-content: space-between;
  margin: 20px;
  margin-left: 180px;
}

.logo img {
  width: 150px;
}

.nav {
  display: flex;
  align-items: center;
  color: #4c4c4c;
  cursor: pointer;
}

.nav li:hover {
  color: #000000;
}

.nav li {
  letter-spacing: 4px;
  margin: 0px 10px;
  font-size: 18px;
}

.nav i {
  font-size: 24px;
}

.fa-heart {
  position: relative;
}

.heartAmount {
  position: absolute;
  font-size: 12px;
  top: 6px;
  right: 8px;
}

.coverflow img {
  width: 100%;
  background-color: #dcdcdcdc;
  display: flex;
  position: relative;
  /* transition: 6s ease; */
}

.coverflow h2 {
  font-size: 50px;
  position: absolute;
  right: 100px;
  bottom: 150px;
}

.coverflow h3 {
  font-size: 40px;
  position: absolute;
  right: 100px;
  bottom: 90px;
  color: #4c4c4c;
  animation-delay: 0.2s;
}

.bLine {
  border: 2px solid #4c4c4c;
  border-top: none;
  border-left: none;
  border-right: none;
  position: absolute;
  right: 100px;
  bottom: 80px;
  width: 110px;
  animation-delay: 0.2s;
}

.classification {
  display: flex;
  width: 80%;
  margin-left: 150px;
  justify-content: space-around;
  font-family: "MaisonNeue-Medium", Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 20px;
}

.classification li {
  position: relative;
}

.classification span {
  font-family: "MaisonNeue-Medium", Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 2.5;
  letter-spacing: 1.2px;
}

.amount {
  font-size: 12px;
  position: absolute;
  left: 100%;
  top: 0px;
  line-height: 2;
  color: #4c4c4c;
}

.giveListWrap {
  width: 80%;
  margin-left: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 140px;
}

.giveInfo {
  background-image: url("../img/products/bottle.jpg");
  background-size: 100%;
  background-position: center;
  width: 275px;
  height: 285px;
  box-shadow: 2px 2px 9px 0 rgba(0, 0, 0, 0.18);
  display: flex;
  align-items: flex-end;
  margin: 45px 5px 0px;
  position: relative;
  overflow: hidden;
  transition: .5s ease;
  cursor: pointer;
  position: relative;
}

.heart img {
  width: 30px;
}

.heart {
  position: absolute;
  top: 10px;
  right: -50px;
  transition: 0.5s ease;
  color: #a09d9d;
  font-size: 25px;
}

.giveInfo:hover .heart {
  right: 10px;
}

.infoHover {
  width: 100%;
  background: #f7f7f7;
  position: relative;
  bottom: -20%;
  transition: 0.5s ease;
}

.infoHover h3 {
  color: #000000;
  letter-spacing: 1.46px;
  margin: 20px 30px;
}

.hoverInfo {
  display: flex;
  align-items: baseline;
  font-size: 12px;
  padding: 0px;
  opacity: 0;
  /* display: none; */
}

.giveInfo:hover {
  background-size: 120%;
  transition: .5s ease;
}

.giveInfo:hover .infoHover {
  bottom: 0;
}

.pageWrap {
  display: flex;
  width: 89%;
  justify-content: flex-end;
  margin-bottom: 30px;
}

.page {
  margin: 5px;
  font-size: 20px;
  cursor: pointer;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topLine {
  border-left: none;
  border-top: none;
  border-bottom: none;
  height: 300px;
  width: 1px;
  background-color: black;
  margin-top: 300px;
}

.top {
  margin-top: 5px;
}

a {
  text-decoration: none;
  color: #000;
}

.community {
  display: flex;
  margin: 30px 0px;
}

.community i {
  font-size: 24px;
  margin: 10px;
}

.footer {
  margin: 10px 0px;
  color: #4c4c4c;
}

/* ------------------------------giveInfo-------------------------- */

.infoWrap {
  margin-top: 10px;
  background-color: #f5f5f5;
  display: flex;
}

.leftInfo {
  display: flex;
  flex-direction: column;
  margin-left: 180px;
}

.leftInfoSide {
  display: flex;
  flex-direction: column;
  margin-left: 180px;
  width: 50%;
}

.indexLink {
  display: flex;
  width: 50%;
  justify-content: space-between;
  margin: 20px 0px;
}

.leftInfoSide img {
  width: 80%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.indexLink h3 {
  font-style: italic;
  font-size: 18px;
  color: #4c4c4c;
  letter-spacing: 1.5px;
}

.infoName {
  color: #000;
  font-style: italic;
  font-size: 18px;
  letter-spacing: 1.5px;
}

.rightInfo {
  display: flex;
  margin: 0px 50px;
  flex-direction: column;
  width: 40%;
  position: relative;
}

.givesName {
  font-size: 40px;
  margin-top: 100px;
}

.givesNo {
  margin-top: 16px;
  color: #4c4c4c;
  font-size: 20px;
}

.addHeart {
  position: absolute;
  font-size: 40px;
  top: 135px;
  left: 470px;
}

.divider {
  border: 2px solid #4c4c4c;
  border-top: none;
  border-left: none;
  border-right: none;
  margin: 20px 0px;
}

.rightInfo p {
  color: #4c4c4c;
  font-size: 18px;
  letter-spacing: 1px;
  text-align: justify;
  padding: 0px 10px;
  line-height: 1.5;
}

.shelvesTime {
  display: flex;
  justify-content: flex-end;
  color: #4c4c4c;
}

.addBtn {
  border: none;
  width: 200px;
  height: 40px;
  text-align: center;
  letter-spacing: 1.2px;
  font-size: 18px;
  color: #fff;
  background-color: #4c4c4c;
  margin-top: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.toFace {
  margin-top: 10px;
  width: 20%;
  color: #4c4c4c;
  display: flex;
  justify-content: space-between;
  letter-spacing: 1.2px;
  margin-bottom: 300px;
}

.introInfo {
  align-self: center;
  margin: 40px;
  width: 40%;
}

.introInfo h3 {
  font-size: 50px;
  text-align: center;
  letter-spacing: 1.2;
}

.introInfo p {
  font-size: 24px;
  padding: 10px;
  text-align: justify;
  line-height: 1.2;
}

/* ------------------------------MemberCenter-------------------------- */

.leftSide {
  width: 30%;
  margin-bottom: 330px;
}

.memberList {
  width: 45%;
  margin-left: 180px;
  margin-top: 50px;
  position: relative;
  /* overflow: hidden; */
  cursor: pointer;
}

.memberInfoList>li:hover {
  color: #000;
}

.memberList>li:hover {
  color: #000;
}

.memberList>li.active:hover {
  color: #fff;
  cursor: none;
}

.mli {
  border-top: 1px solid #a09d9d;
  border-left: 1px solid #a09d9d;
  border-right: 1px solid #a09d9d;
  text-align: center;
  padding: 12px 0px;
  font-size: 20px;
  font-weight: 500;
  color: #4c4c4c;
}

.memberCenter {
  color: #ffffff;
  background-color: #4c4c4c;
}

.memberInfoList {
  display: none;
  flex-direction: column;
  position: absolute;
  border-top: none;
  border-left: none;
  border: 1px solid #a09d9d;
  top: 44px;
  left: 100%;
  width: 100%;
}

.memberInfo:hover .memberInfoList {
  display: flex;
}

.memberModify {
  border-bottom: 1px solid #a09d9d;
}

.memberModify,
.memberModifyPassword {
  border-top: none;
  border-left: none;
  background-color: #f5f5f5;
  padding: 12px 10px;
  font-size: 20px;
  font-weight: 500;
  color: #4c4c4c;
}

.memberEachOrder {
  display: none;
  flex-direction: column;
  position: absolute;
  border-top: none;
  border-left: none;
  border: 1px solid #a09d9d;
  background-color: #f5f5f5;
  top: 90px;
  left: 100%;
  width: 100%;
}

.myGivesOrder {
  border-bottom: 1px solid #a09d9d;
}

.myGivesOrder,
.myGetOrder {
  border-top: none;
  border-left: none;
  padding: 12px 10px;
  font-size: 20px;
  font-weight: 500;
  color: #4c4c4c;
}

.orderList:hover .memberEachOrder {
  display: flex;
}

.memberEachOrder>li:hover {
  color: #000;
}

.logOut {
  border-bottom: 1px solid #a09d9d;
}

.rightSide {
  width: 57%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.rightSide h2 {
  font-size: 30px;
}

.rightSide h3 {
  font-size: 20px;
  margin: 10px 0px;
}

.heartImg {
  display: flex;
}

.heartImg img {
  width: 100px;
  margin: 10px;
  cursor: pointer;
}

.orderItem h3 {
  font-size: 18px;
  padding-bottom: 15px;
}

.itemWrap {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.orderItemLI {
  margin: 16px 0px;
  color: #4c4c4c;
}


.myOrder {
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
}

.myOrder li {
  margin: 5px 0px;
  color: #a09d9d;
}

.listLine {
  border: 1px solid #4c4c4c;
  border-top: none;
  border-left: none;
  border-right: none;
  margin: 2px 0px;
}

.giveNo button {
  border: none;
  background-color: #4c4c4c;
  color: #fff;
}

.centerBtns {
  padding: 4px 10px;
  letter-spacing: 1.2px;
  border-radius: 4px;
  cursor: pointer;
}

.myOrderList {
  display: flex;
  justify-content: space-between;
}

.myOrder span {
  font-size: 18px;

}

.myOrder li {
  margin-top: 15px;
}

/* ------------------------------MemberModify/MemberModifyPassword-------------------------- */

.accountWrap {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.accountInfo {
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;
}

.accountInfo span {
  font-size: 20px;
  color: #4c4c4c;
}

.accountInfo input {
  border: none;
  width: 52%;
  border: 1px solid #4c4c4c;
  border-radius: 4px;
  font-size: 18px;
  padding: 6px;
}

.accountBtn {
  background-color: #4c4c4c;
  width: 25%;
  align-self: flex-end;
  color: #fff;
  margin: 20px 0px;
  border-radius: 4px;
  letter-spacing: 1.5px;
  padding: 8px 15px;
  font-size: 14px;
  cursor: pointer;
}



/* ------------------------------LogIn-------------------------- */

.logWrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.accountLink {
  display: flex;
  widows: 50%;
}

.accountLink span {
  letter-spacing: 1.2px;
}

.accountLink {
  display: flex;
  width: 10%;
  justify-content: space-between;
  margin: 25px 0px;
  font-style: italic;
  letter-spacing: 2.5px;
  font-size: 18px;
}

.accountLink h4 {
  color: #4c4c4c;
}

.accountLink span {
  color: #000;
}

.logWrap h2 {
  font-size: 50px;
  margin-bottom: 20px;
}

.accountLine {
  border-left: none;
  border-right: none;
  border-top: none;
  border: 2px solid #4c4c4c;
  width: 60px;
}

.logWrap h3 {
  font-size: 30px;
  margin-top: 50px;
}

.logInfo {
  margin-top: 60px;
  width: 30%;
}

.logInfo h4 {
  margin: 15px 0px;
}

.logInfo input {
  width: 100%;
  border: 1px solid #4c4c4c;
  border-radius: 3px;
  height: 40px;
  padding-left: 10px;
  font-size: 18px;
  margin-bottom: 20px;
}

.fgtPSD {
  width: 30%;
  margin-bottom: 20px;
  cursor: pointer;
}

.fgtPSD span {
  display: flex;
  justify-content: flex-end;
}

.sendBtn {
  width: 30%;
  background-color: #4c4c4c;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  line-height: 1.2;
  padding: 10px;
  cursor: pointer;
}

.logBrWrap {
  display: flex;
  align-items: center;
  margin: 30px 0px;
}

.logBr {
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 0.3px solid #4c4c4c;
  width: 180px;
  margin: 0px 10px;
}

.logWrap h5 {
  text-decoration: underline;
  cursor: pointer;
}

/* ------------------------------Siginup-------------------------- */

.signupBtn {
  width: 30%;
  background-color: #4c4c4c;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  line-height: 1.2;
  padding: 10px;
  margin: 10px 0px;
  cursor: pointer;
}

.signupInfo {
  margin-top: 60px;
  width: 30%;
}

.signupInfo h4 {
  margin: 15px 0px;
}

.signupInfo input {
  width: 100%;
  border: 1px solid #4c4c4c;
  border-radius: 3px;
  height: 40px;
  padding-left: 10px;
  font-size: 18px;

}

/* ------------------------------WishList-------------------------- */

.heartWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #a09d9d;
  margin-bottom: 15px;
  padding: 18px 0px;
}

.heartWrap img {
  max-width: 100px;
  width: 100%;
  height: auto;

}

.wishImgName {
  display: flex;
  width: 70%;
  align-items: center;
}

.wishlistBtns {
  display: flex;
  align-items: center;
}

.addtoBag {
  background-color: #4c4c4c;
  border-radius: 4px;
  color: #fff;
  letter-spacing: 1.2px;
  padding: 7px 10px;
  cursor: pointer;
  margin: 0px 15px;
}

.fa-times {
  font-size: 20px;
}

/* ------------------------------GetOrderDetail/GiveOrderDetail-------------------------- */
.giveWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 0px;
}

.giveWrap img {
  width: 200px;
}

.giveLine {
  border: 1px solid #a09d9d;
  width: 40%;
}

.giveDetail {
  width: 50%;
  display: flex;
  flex-direction: column;
  font-size: 18px;
}

.checkGiveOrderBtn {
  background-color: #4c4c4c;
  border-radius: 4px;
  color: #fff;
  letter-spacing: 1.2px;
  padding: 8px 12px;
  margin: 15px 0px;
  font-size: 14px;
  cursor: pointer;
}

.getngive {
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;
  width: 100%;
}


.storySpan {
  width: 30%;
  text-align: justify;
}

.getBtns button {
  background-color: #4c4c4c;
  color: #fff;
}

.getBtns {
  width: 28%;
  display: flex;
  justify-content: space-between;
  align-self: center;
  margin: 10px 0px;
  cursor: pointer;
}

.noRequestBtn,
.checkGetOrderBtn {
  background-color: #4c4c4c;
  border-radius: 4px;
  color: #fff;
  letter-spacing: 1.2px;
  padding: 8px 12px;
  cursor: pointer;
}

.giveBtns {
  width: 35%;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.cancelBtn,
.getBtn,
.doneBtn {
  background-color: #4c4c4c;
  border-radius: 4px;
  color: #fff;
  letter-spacing: 1.2px;
  padding: 5px 8px;
  cursor: pointer;
  margin-left: 2px;
}

/* ------------------------------GivesShelve/GivesShelveForm-------------------------- */

.updateWrap {
  display: flex;
  justify-content: flex-end;
}

.updateBtn {
  background-color: #4c4c4c;
  border-radius: 4px;
  color: #fff;
  padding: 10px;
  width: 10%;
  margin: 10px 0px;
  letter-spacing: 1.5px;
  font-size: 14px;
  cursor: pointer;
}

.givesshelvesFormWrap {
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;
  align-items: baseline;
  padding: 18px 0px;
  border-bottom: 1px solid #a09d9d;
  align-items: center;
}

.givesshelvesFormWrap textarea {
  width: 60%;
  font-size: 14px;
}

.getngive input {
  width: 60%;
  border: 1px solid #4c4c4c;
  border-radius: 3px;
  height: 30px;
  padding-left: 10px;
  font-size: 18px;
}

.givesshelvesFormWrap input {
  width: 60%;
  border: 1px solid #4c4c4c;
  border-radius: 3px;
  height: 30px;
  padding-left: 10px;
  font-size: 14px;

}

.givesshelvesFormWrap .fileUpload {
  width: 18%;
  border: none;
}

.classSelect {
  border: 1px solid #a09d9d;
}

.upBtn {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15px;
  cursor: pointer;
}

.shelvesBtn {
  background-color: #4c4c4c;
  color: #fff;
  width: 30%;
  border-radius: 4px;
  letter-spacing: 1.2px;
  padding: 5px 8px;
  font-size: 14px;
  cursor: pointer;
}

.givesshelvesBtns {
  display: flex;
}

.pageWrapGivesshelves {
  display: flex;
  align-self: flex-end;
}

.givesDetailBtn {
  background-color: #4c4c4c;
  border-radius: 4px;
  color: #fff;
  letter-spacing: 1.2px;
  padding: 8px 10px;
  font-size: 14px;
  cursor: pointer;
}

.editBtn {
  background-color: #4c4c4c;
  color: #fff;
  border-radius: 4px;
  letter-spacing: 1.2px;
  padding: 5px 8px;
  margin: 0px 8px;
  cursor: pointer;
}

.givesshelvesWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #a09d9d;
  margin-bottom: 15px;
  padding: 18px 0px;

}

.givesshelvesWrap img {
  max-width: 100px;
  width: 100%;
  height: auto;

}

.givesshelvesWrap .fa-times {
  cursor: pointer;
}

.imgName {
  display: flex;
  width: 80%;
  align-items: center;
}

.givesshelvestName,
.heartName {
  font-size: 18px;
  padding-left: 60px;
}

/* ------------------------------GivesDetail-------------------------- */

.backgivesBtn {
  background-color: #4c4c4c;
  color: #fff;
  border-radius: 4px;
  letter-spacing: 1.2px;
  padding: 5px 8px;
  margin: 10px 0px;
  font-size: 14px;
  cursor: pointer;
}

/* ------------------------------CheckForm-------------------------- */

.formWrap {
  display: flex;
  width: 60%;
  margin-top: 100px;
  font-size: 20px;
}

.leftForm,
.rightForm {
  width: 50%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

.givesNo {
  display: flex;
  justify-content: space-between;
}

.getGivesLine {
  border-top: none;
  border-left: none;
  border-right: none;
  height: 250px;
  width: 2px;
  background-color: #000;
  margin: 0px 30px;
}

.givesNo input {
  border: 1px solid #a09d9d;
  width: 40%;
  border-radius: 4px;
  padding: 8px;
  font-size: 14px;
}

textarea {
  border: 1px solid #a09d9d;
  border-radius: 4px;
  padding: 8px;
}

.formBtn {
  border-radius: 4px;
  background-color: #4c4c4c;
  color: #fff;
  padding: 6px 10px;
  width: 40%;
  margin: 10px 0px;
  letter-spacing: 1.5px;
  align-self: flex-end;
  cursor: pointer;
}

/* ------------------------------HOME-------------------------- */

.homeFlow {
  position: relative;
}

.slideLine {
  display: flex;
  position: absolute;
  top: 50%;
  align-items: center;
  color: #a09d9d;
}

.slideLeft {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #a09d9d;
  width: 100px;
  display: flex;
}

.slideRight {
  right: 100%;
  right: 0%;
}

.slideBox {
  display: flex;
  width: 50%;
  justify-content: center;
  margin-top: 10px;
  margin-left: 25%;
}

.boxAll {
  width: 10px;
  height: 10px;
  border: 2px solid #4c4c4c;
  margin: 5px;
}

.whyDo {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 150px;
}

.whyImg {
  background-image: url("../img/whydo.png");
  background-size: center;
  width: 100%;
  height: 600px;
}

.whyDo h2 {
  font-size: 80px;
  position: absolute;
  top: 30%;
  left: 10%;
}

.whyDo span {
  position: absolute;
  width: 40%;
  top: 50%;
  left: 10%;
  letter-spacing: 1.2;
  font-size: 24px;
  line-height: 1.5;
  text-align: justify;
  animation-delay: 0.2s;
}
